html {
	overflow: auto;
}

body, html {
	background-color: transparent !important;
	width: 100%;
	height: 100%;
}

.is-fixed-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.has-background-dark {
	background-color: rgba(0, 0, 0, 0.80) !important
}

#debug {
	white-space: pre-line;
	padding: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.80);
}

#minimap_container {
	height: 200px;
}

#phone_container {
	width: 35vh;
	position: relative;
	margin-bottom: -70px;
}

#phone_screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	margin-top: 23.3%;
	margin-left: 8.0%;
	width: 83.4%;
	height: 75.4%;
}

/*screen effects*/
.phone-screen {
	filter: blur(0.06vh) brightness(110%) contrast(90%);
}

.phone-glass {
	background: linear-gradient(100deg, rgba(255, 255, 255, 0.31), rgba(255, 255, 255, 0.06));
	pointer-events: none;
}

#phone_container .phone-glass {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	margin-top: 5.7%;
	margin-left: 5.5%;
	width: 88.5%;
	height: 93.7%;

	border-radius: 10px;
}

#browser_frame {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

#browser_frame .phone-glass {
	position: absolute;

	width: 96.6vw;
	height: 46.5vw;

	margin-top: 0.2vw;
	margin-left: 0.04vw;

	border-radius: 1.6vw;
}

#browser_screen {
	position: absolute;

	height: 43.4vw;
	width: 77.2vw;

	margin: 0.2vw 0.2vw 0.2vw -0.2vw;

	background-color: white;
}

#browser_frame img {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	height: 99vw;

	transform: rotate(270deg);
}

#overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	pointer-events: none;
}

.menu-container {
	/*margin-top: 4px;*/
	padding-top: 4px;
}

.menu-container > div {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.70));
}

.is-menu-header, .is-menu-showcase, .is-menu-item, .is-menu-description {
	color: white !important;
}

.is-menu-header {
	font-family: Impact, serif;
	font-size: larger;
	padding: 4px 0;
	text-align: center;
	background: linear-gradient(100deg, rgb(11, 60, 123), rgb(46, 105, 186)) !important;
}

.is-menu-showcase {
	text-transform: uppercase;

}

.is-menu-item {

}

.is-menu-item + .is-selected {
	color: black !important;
	background: linear-gradient(90deg, rgb(255, 255, 255), rgba(187, 187, 187, 0.36));
}

.is-menu-description {
	margin-top: 4px;
}

.checkbox {
	box-shadow: 0 0 0 0.125em rgba(0, 0, 0, 0.75) inset;
	display: inline-block;
	position: relative;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
}

.checkbox:checked {
	background-color: transparent;
}