.speedometer {
	z-index: 1;
	position: absolute;
	width: 440px;
	height: 212px;
	border: solid 1px red;
	bottom: 30px;
	right: 50px;
	background-image: url(speedometer.svg);
}

.arrow-speedometer {
	z-index: 2;
	position: absolute;
	width: 174px;
	height: 51px;
	border: solid 1px red;
	bottom: 3px;
	right: 122px;
	background-image: url(arrow-speedometer.svg);
	transform: rotate(0deg);
	transform-origin: 149px 26px;
	/*transition: all 1s 0.1s ease-out;*/
}

.arrow-tachometer {
	z-index: 3;
	position: absolute;
	width: 37px;
	height: 124px;
	border: solid 1px red;
	bottom: 3px;
	right: 316px;
	background-image: url(arrow-tachometer.svg);
	transform: rotate(0deg);
	transform-origin: 18px 18px;
	/*transition: all 1s 0.1s ease-out;*/
}