html {
	overflow: auto;
}

body, html {
	background-color: black;
	background-image: url("../../phone/wallpaper.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
}

.topbar {
	display: flex;
	width: available;
	color: #fff;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.50);
}

.topbar div {
	height: 18px;
	margin-left: 2px;
	margin-right: 2px;
}
